.footer {
  width: 100%;
  height: 200px;
  color: $white;
  background-color: $bgfootercolor;
  padding: 0 0 0 22px;
  display: flex;
  flex-direction: column;
  margin-top: -30px;
  @include tablet-min {
    height: 150px;
  }

  &__title {
    padding: 22px 0 18px 0;
    font-size: $cardsize;
    font-weight: $restaurant-weight;
    @include tablet-min {
      font-size: 35px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
    font-size: $btnsize;
    cursor: pointer;
    @include tablet-min {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      & li {
        margin-left: 20px;
        padding-right: 10px;
      }
    }

    &__object1 {
      width: 190px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &__object2 {
      width: 160px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    &__object3 a {
      color: white;
    }
  }
}
