.header {
  height: 64px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 22px;
  box-shadow: 2px 2px 2px darken($placebgcolor, 10%);
  @include tablet-min {
    height: 128px;
  }

  &__logo {
    width: 170px;
    height: 33px;
    @include tablet-min {
      width: 340px;
      height: 66px;
    }
  }
  &__return {
    position: absolute;
    left: 23px;
    top: 26px;
    font-size: 1.2em;
    color: $black;
  }
}
