.menu-section {
  @include menu-section;

  &__header-menu {
    @include header-menu;

    &__heading-menu {
      @include heading-menu;
    }
    &__heart {
      @include heart;
      position: absolute;
      top: 8px;
      right: 7.7%;
    }
    &__heart-full {
      @include heart-full;
      position: absolute;
      top: 8px;
      right: 7.7%;
      cursor: pointer;
      opacity: 0;
      &:active {
        animation: progress-bar $prog-bar-dur forwards ease-in-out;
      }
    }
  }
  &__sub-menu {
    @include sub-menu;
    &__title-menu {
      @include title-menu;
      & span {
        padding-bottom: 4px;
        border-bottom: $color-tertiary solid 3px;
      }
    }
    &__button-menu:nth-child(2) {
      animation-delay: $anim-delay;
    }
    &__button-menu:nth-child(3) {
      animation-delay: $anim-delay * 2;
    }
    &__button-menu:nth-child(4) {
      animation-delay: $anim-delay * 3;
    }
    &__button-menu:nth-child(5) {
      animation-delay: $anim-delay * 4;
    }
    &__button-menu {
      @include button-menu;
      cursor: pointer;
      overflow: hidden;
      position: relative;
      animation: apparition-menu $apparition-dur both ease-in-out;

      &__text-menu {
        @include text-menu;
        position: absolute;
        transition: width 500ms ease-in-out;

        & h2 {
          font-size: $cardsize;
          font-weight: $font-bold;
          @include text-cut;
        }
        & p {
          font-size: $btnmenusize;
          @include text-cut;
        }
      }
      &:active .menu-section__sub-menu__button-menu__text-menu {
        width: 75%;
      }
      &:active .menu-section__sub-menu__button-menu__money-validate {
        transform: translateX(0px);
        & > .menu-section__sub-menu__button-menu__money-validate__validate-bar {
          & > i {
            transform: rotate(0turn);
          }
        }
      }

      &__money-validate {
        @include money-validate;
        transform: translateX(60px);
        transform-origin: right;
        transition: transform 500ms ease-in-out;
        position: absolute;
        right: 0;

        & span {
          width: 50px;
          font-weight: $font-bold;
          font-size: 14px;
          padding: 40px 22px 0 0;
          border-radius: 0 15px 15px 0;
        }
        & .menu-section__sub-menu__button-menu__money-validate__validate-bar {
          padding-top: 25px;
          width: 60px;
          border-radius: 0 15px 15px 0;
          background-color: $color-tertiary;

          & i {
            font-size: 20px;
            color: $white;
            transform: rotate(-1turn);
            transition: transform 500ms ease-in-out;
          }
        }
      }
    }
  }
  &__btn-order {
    @include btn;
    position: relative;
    z-index: 1;
    width: 186px;
    padding: 15px 50px 15px 50px;
    align-self: center;
    margin: 10px 0 85px 0;

    &:hover {
      &::after {
        opacity: 1;
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      @include btnhover;
      opacity: 0;
      z-index: -1;
      transition: opacity 500ms;
    }
  }
}

/* METTRE DANS UNE MEDIA QUERIES POUR INF 450 PX OU CHANGER AVEC UNE MEDIA QUERIES? A Voir */
.menu-exception {
  height: 92px;

  & h2 {
    white-space: normal;
  }
  & span {
    padding-top: 62px;
  }
}
.margin-note {
  margin-bottom: map-get($order-margin, note);
}
.margin-palette {
  margin-bottom: map-get($order-margin, palette);
}
.margin-sens {
  margin-bottom: map-get($order-margin, sens);
}
