.place {
  height: 50px;
  width: 100%;
  color: $placecolor;
  background: $placebgcolor;
  display: flex;
  justify-content: center;
  align-items: center;

  &__text {
    margin-left: 18px;
    font-weight: bold;
  }
}
