/*Colors variables*/
$black: black;
$white: white;

$placecolor: #353535;
$placebgcolor: #eaeaea;

$bgcolor: #f6f6f6;
$icon-color: #7e7e7e;

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;

$color-shadow: #cfcfcf;

/*Text variables*/

/*font-size variables*/
$btnsize: 16px;
$cardsize: 18px;

/*font-weight variables*/
$font-light: 300;
$font-normal: 400;
$font-bold: 700;
$font-extrabold: 900;

$padding-left-card: 14px;
